<div class="tw-mt-32 tw-space-y-16">
  <div class="tw-bg-gray-05 tw-border-gray-20 tw-border tw-border-dashed tw-w-96 tw-p-4 tw-mx-auto">
    <div class="text-primary">
      Primary text
    </div>

    <div class="text-secondary">
      Secondary text
    </div>
  </div>

  <div class="tw-dark tw-bg-gray-100 tw-border-gray-70 tw-border tw-border-dashed tw-w-96 tw-p-4 tw-mx-auto">
    <div class="text-primary">
      Primary text
    </div>

    <div class="text-secondary">
      Secondary text
    </div>
  </div>


  <div class="tw-bg-gray-05 tw-border-gray-20 tw-border tw-border-dashed tw-w-96 tw-p-4 tw-mx-auto">
    <div class="text-primary--layer">
      Primary text
    </div>

    <div class="text-secondary--layer">
      Secondary text
    </div>
  </div>

  <div class="tw-dark tw-bg-gray-100 tw-border-gray-70 tw-border tw-border-dashed tw-w-96 tw-p-4 tw-mx-auto">
    <div class="text-primary--layer">
      Primary text
    </div>

    <div class="text-secondary--layer">
      Secondary text
    </div>
  </div>

</div>



